.header {
  background-color: #ddd;
  width: 100%;
  padding: 1em 0;
}
.links{
  text-align: left;
}

.login {
  margin: .2em;
  width: 200px;
  padding: .2em;
}

.login>label{
  display: block;
  text-align: right;
}
