.header {
  background-color: #ddd;
  width: 100%;
  padding: 1em 0;
}
.links{
  text-align: left;
}

a {
  color: green;
  text-decoration: none;
  border: 1px solid green;
  border-radius: 4px;
  border-style: solid;
  margin: .2em;
  padding: .2em;
  display: inline-block;
}

a:hover {
  cursor: pointer;
  background-color: #efe;
}

.login {
  margin: .2em;
  width: 200px;
  padding: .2em;
}

.login>label>input{
  border: solid 1px green;
  border-radius: 4px;
  font-size: 1.1em;
}

.login>label{
  display: block;
  text-align: right;
}
